# .gitignore
# Global
node_modules/
dist/
build/
.env
.env.local

# Frontend
/frontend/node_modules/
/frontend/build/
/frontend/.env*

# Backend
/backend/bin/
/backend/obj/
/backend/.vs/
/backend/appsettings.Local.json
